{% extends 'base.html.twig' %}


{%block body%}
 <nav class="navbar navbar-default">
                   <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{{asset('images/2112_logo.png')}}">
                      </a>
                    </div>
                   <ul class="nav navbar-nav">
                        <li ><a href="#">Home <span class="sr-only">(current)</span></a></li>
                        <li ><a href="#">Parameterised</a></li>
                        <li class="active"><a href="#">Static</a></li>
                        <li><a href="#">Something else</a></li>
                        <li><a href="#">Form</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                  </div>
                </nav>
               <h3> Next Page<h3> 



<p class="text-justify"><i>MVC Pattern stands for Model-View-Controller Pattern.</i> This pattern is used to separate application's concerns.

Model - Model represents an object or JAVA POJO carrying data. It can also have logic to update controller if its data changes.


View - View represents the visualization of the data that model contains.


Controller - Controller acts on both model and view. It controls the data flow into model object and updates the view whenever data changes. It keeps view and model separate.


Implementation

We are going to create a Student object acting as a model.StudentView will be a view class which can print student details on console and StudentController is the controller class responsible to store data in Student object and update view StudentView accordingly.

</p>
{%endblock%}
